<%- include("partials/header.ejs")%>
<body>
    <h1>Painel Administrativo</h1>
    <div id="data-container">
        <!-- Conteúdo da API será inserido aqui pelo JavaScript -->
    </div>
    <script>
        const apiUrl = '<%= apiUrl %>';

        // Função para buscar dados da API
        async function fetchData() {
            try {
                const response = await fetch(`${apiUrl}/migrants`);
                const data = await response.json();
                renderData(data.migrants);
            } catch (error) {
                console.error('Erro ao buscar dados:', error);
            }
        }

        function renderData(data) {
            const container = document.getElementById('data-container');
            container.innerHTML = '';
            data.forEach(item => {
                const div = document.createElement('div');
                div.textContent = `ID: ${item.id}, Nome: ${item.full_name}`;
                container.appendChild(div);
            });
        }

        // Chama a função ao carregar a página
        fetchData();
    </script>
</body>
<%- include("partials/footer.ejs")%>
