<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style-login.css">
    <link rel="icon" href="/img/loginLogo.svg" type="image/svg+xml">
    <title>Login - Painel Administrativo</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card p-4">
                    <h3 class="card-title text-center">Painel Administrativo</h3>
                    <p class="text-center mb-4">Faça login com o seu usuário e senha para acessar.</p>
					
                    <form action="/login" method="POST">
						<div class="form-group mb-4">
							<label for="username">Usuário</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" id="username" name="username" required placeholder="Digite seu usuário" autofocus>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="password">Senha</label>
                            <div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" id="password" name="password" required placeholder="Digite sua senha">
                            </div>
                        </div>
											<% if (typeof error !== 'undefined') { %>
												<div class="mb-3 alert-danger text-center" role="alert">
													<%= error %>
												</div>
											<% } %>
                        <button type="submit" class="btn btn-light btn-block">Entrar</button>
                    </form>
                    <div class="text-center mt-2">
                        <a href="#" class="forgot-password">Esqueceu a senha?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
<%- include("partials/footer.ejs") %>
