<%- include("../partials/header.ejs") %>
<body>
    <%- include("../partials/navbar.ejs") %>
    <div class="container mt-4">
        <hr class="mb-5">
        <h1 class="mt-5">Instituições Cadastradas</h1>
        <hr>
        <a href="/admin/institutions/register" class="btn btn-primary mb-3">Cadastrar Instituição</a>

        <!-- Formulário de Busca -->
        <form action="/admin/institutions/search" method="GET" class="mb-4">
            <div class="input-group">
                <input type="text" class="form-control" name="query" placeholder="Buscar por email, telefone ou CNPJ" aria-label="Buscar" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                </div>
            </div>
        </form>

        <!-- Contador de Registros e Paginação -->
        <div class="d-flex justify-content-between">
            <span id="contador"></span>
            <div>
                <button id="prevPage" class="btn btn-secondary btn-sm" disabled>Anterior</button>
                <button id="nextPage" class="btn btn-secondary btn-sm">Próximo</button>
            </div>
        </div>

        <!-- Tabela para exibir os instituições -->
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">Nome da Instituição</th>
                    <th scope="col">CNPJ</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone Principal</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody id="institutionTable">
                <!-- Aqui o JavaScript insere as linhas da tabela com base na página atual -->
            </tbody>
        </table>
    </div>

    <%- include("../partials/footer.ejs") %>
</body>
<script>
    // Variáveis para controle da página e limites
    const institutions = <%- JSON.stringify(institutions) %>;
</script>
<script src="/js/scriptInstitutionList.js"></script>

